*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    background-color: #f2785f;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;

}
.main{
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2rem;
    gap:1rem;
    position: relative;
    overflow-x: hidden;
}

.main img{
    width: 130px;
    filter: drop-shadow(0px 0px 8px black);
}
.txt{
    margin-top: 1rem;
    font-size: 1.2rem;

}
button{
    width: 70%;
    height: 7%;
    position: absolute;
    bottom: 5%;
    border-radius: 5px;
    background-color: #f2785f;
    color:#fff;
    font-size: 1.2rem;
   cursor: pointer;
   font-weight: 600;
}

